(function (exports) {
    function key() {
      return "1234567890";
    }
    exports.key = key;
})(this);


(function (exports) {
    function token() {
      return "asdfghjkl";
    }
    exports.token = token;
})(this);

(function (exports){
  function openWeatherAPIKey() {
    return "24891yhwdiufhg"; // or whatever
  }
  exports.openWeatherAPIKey = openWeatherAPIKey;

})(this);
