<!DOCTYPE html>
<html>

<head>
    <title>CUBE</title>
    <link rel="stylesheet" href='css/index.css'></style>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src='js/keyframe.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='js/phaser.min.js'></script>
    <script src='js/pong.js'></script>
    <script src='js/indexSockets.js'></script>
    <script src='js/indexViews.js'></script>
    <script src='js/reactionLogic.js'></script>
    <script src='js/index.js'></script>
    <script src='js/clock.js'></script>
    <script src='js/simonLogic.js'></script>
    <script src='js/env.js'></script>
    <script src='js/slack.js'></script>
    <script src='js/weather.js'></script>
</head>

<body bgcolor="black">
    <br>
    <br>
    <br>
    <div>

        <body style="margin: 4px 0px 0px 0px;">
            <div id="top"><img src='img/rainbow_sun.gif' height="32px," width="32px" border="0"></div>
            <!--
    -->
            <div class="marquee" id="1-4">
                <p>
                  <% if (ip === '127.0.0.1') { %>
                      No Connection
                    <% } else { %>
                    <%= ip + ':8000' %>
                    <% } %>
                  </p>
            </div>
            <!--
    -->
            <div id="bottom"><img src='img/rainbow_wheels.gif' height="32px," width="32px" border="0"></div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br><button id='react-button' style='display: none;'>REACT</button>
    <br>
    <br>
    <div id='simon-moves' style='display: none;'></div>
    <br>
    <div id='name'>
        <form action='' method='get'><input id='name-text' type='text' placeholder='Enter your name' /></input><input id='name-submit' type='submit' style='display: none;' /></form>
    </div>
    <br>
    <br>
    <form action='' method='get'>
        <input id='run-text' type='text'></input>
        <input id='run-text-submit' type='submit' />
    </form>
    </body>

</html>
