{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>CUBE</title>
    <link rel="stylesheet" href='{% static "cube/css/index.css" %}'>
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src='{% static "cube/js/indexViews.js"%}'></script>
    <script src='{% static "cube/js/indexSockets.js"%}'></script>
    <script src='{% static "cube/js/reactionLogic.js"%}'></script>
    <script src='{% static "cube/js/index.js"%}'></script>
    <script src='{% static "cube/js/clock.js"%}'></script>
    <script src='{% static "cube/js/simonLogic.js"%}'></script>
    <script src='{% static "cube/js/env.js"%}'></script>
    <script src='{% static "cube/js/slack.js"%}'></script>
    <script src='{% static "cube/js/weather.js"%}'></script>
</head>

<body bgcolor="black">
    <br>
    <br>
    <br>
    <div>

        <body style="margin: 4px 0px 0px 0px;">
            <div id="top"><img src="{% static 'cube/img/rainbow_sun.gif' %}" height="32px," width="32px" border="0"></div>
            <!--
    -->
            <div class="marquee" id="1-4">
                <p>{{ip}}</p>
            </div>
            <!--
    -->
            <div id="bottom"><img src="{% static 'cube/img/rainbow_wheels.gif' %}" height="32px," width="32px" border="0"></div>

    </div>
    <br>
    <br>
    <div id="weatherDiv"></div>
    <br>
    <br>
    <br><button id='react-button' style='display: none;'>REACT</button>
    <br>
    <br>
    <div id='simon-moves' style='display: none;'></div>
    <br>
    <div id='name'>
        <form action='' method='get'><input id='name-text' type='text' placeholder='Enter your name' /></input><input id='name-submit' type='submit' style='display: none;' /></form>
    </div>
    <br>
    <br>
    <form action='' method='get'>
        <input id='run-text' type='text'></input>
        <input id='run-text-submit' type='submit' />
    </form>
    <button id="remove-text" type="button">Reset</button>
    <button id="enable-clock" type="button">Show Time</button>
    <button id="reaction-button" type="button">Reaction Game</button>
    <br><button id='borg' type='button'>Borgify</button>
    <button id='simon' type='button'>Simon says</button>
    <br><button id='borg-red' type='button'>Borgify-red</button>
    <br><button id='hot-coals' type='button'>hot_coals</button>
    <br><button id='water' type='button'>water</button>
    <br><button id='waterfall' type='button'>waterfall</button>
    <br><button id='fireworks' type='button'>fireworks</button>
    <br><button id='slack' type='button'>slack</button>
    <br><button id='weather' type='button'>weather</button>
    <br><button id='off' type='button'>off</button>
    </body>

</html>
