<!DOCTYPE html>
<html>
<head>
<title>CUBE</title>
</head>
<body bgcolor="black">
<br>
<br>
<br>
<div><body style="margin: 4px 0px 0px 0px;"><img src="http://i.imgur.com/pTfRIhp.gif" height="32px," width="32px" border="0"><!--
--><img src="http://i.imgur.com/GAYQSPf.gif" height="32px," width="32px" border="0"><!--
--><img src="http://i.imgur.com/RATkdcZ.gif" height="32px," width="32px" border="0"><!--
--><img src="http://i.imgur.com/JjgXIhR.gif" height="32px," width="32px" border="0"><!--
--><img src="http://i.imgur.com/Fa5U3cB.gif" height="32px," width="32px" border="0"><!--
--><img src="http://i.imgur.com/Fa5U3cB.gif" height="32px," width="32px" border="0">
</div></body></body>
</html>
