{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>CUBE</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Orbitron|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href='{% static "cube/css/index.css" %}'></style>
    <script src='{% static "cube/js/indexSockets.js"%}'></script>
    <script src='{% static "cube/js/index.js"%}'></script>
    <script src='{% static "cube/js/reactionViews.js"%}'></script>
  </head>
  <div id="web">
    <body bgcolor="black">
      <br>
      <br>
      <br>
      <div><body style="margin: 4px 0px 0px 0px;">
         <div id="top"><img src="http://i.imgur.com/pTfRIhp.gif" height="32px," width="32px" border="0"></div><!--
      --><div class= "marquee" id="1-4"><p>{{ip}}:8080</p></div><!--
      --><div id="bottom"><img src="http://i.imgur.com/Fa5U3cB.gif" height="32px," width="32px" border="0"></div>

      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <form action='' method='get'>
        <input id='run_text' type='text'></input>
        <input id='run_text_submit' type='submit'/>
        <!-- <input id='run_text_submit' type='submit' style='display: none;'/> -->
      </form>
      <button id="remove_text" type="button">Reset</button>
      <button id="reaction-button" type="button">Reaction Game</button>
    </body>
  </div>



    <div id="mobile">
      <div><body>
         <meta name="viewport" content="width=device-width, initial-scale=1.0, , maximum-scale=1">
         <h1>"title">THE CUBE</h1>
         <div id="top"><img src="http://i.imgur.com/pTfRIhp.gif" height="32px," width="32px" border="0"></div><!--
      --><div class= "marquee" id="1-4"><p>{{ip}}:8080</p></div><!--
      --><div id="bottom"><img src="http://i.imgur.com/Fa5U3cB.gif" height="32px," width="32px" border="0"></div>

          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <form action='' method='get'>
            <input id='run_text' type='text'></input>
            <input id='run_text_submit' type='submit'/>
            <!-- <input id='run_text_submit' type='submit' style='display: none;'/> -->
          </form>
          <button id="remove_text" type="button">Reset</button>
          <button id="reaction-button" type="button">Reaction Game</button>
        </div>
      </body>
    </body>
</html>
