div {float: left; color: red;}
#1-4 {vertical-align: middle;}

/*font-family: 'Quicksand', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Audiowide', cursive;*/

h1 {font-family: 'Orbitron', sans-serif; }

.marquee p {
  z-index: -10;
  position: relative;
  font-family: Tahoma, Arial, sans-serif;
  width: 128px;
  height: 100%;
  margin: 0;
  white-space: nowrap;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  vertical-align: centre;
  color: #fff;
  text-shadow: 1px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}

.marquee p {
  transform:translateX(200%);
}

@keyframes left-one {
  0%  {
    transform:translateX(100%);
  }
  100%{
    transform:translateX(-200%);
  }
}

.marquee p:nth-child(1) {
  animation: left-one 7s linear infinite;
}
