(function (exports) {
    function key() {
      return "1234567890";
    }
    exports.key = key;
})(this);


(function (exports) {
    function token() {
      return "asdfghjkl";
    }
    exports.token = token;
})(this);
